# macOS
.DS_Store

# Swift / Swift Package Manager
/.build
/Packages
.build/
.swiftpm/

# Xcode
xcuserdata/
DerivedData/
*.xcodeproj
*.xcworkspace
.swiftpm/configuration/registries.json
.swiftpm/xcode/package.xcworkspace/contents.xcworkspacedata

# Misc
.netrc
*.profraw